

.container {
    display: flex;
    flex-direction: row;
    padding:1%;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    font-family: 'roboto', 'sans-serif'; 
}

.left {
    display: flex;
    flex-direction: row;
}

.prev{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 162, 255);
    margin-right: 20px; 
    background-color: rgb(0, 162, 255);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 16px;
}

.prev:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 3px rgb(208, 234, 255);
}

.mreview {
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 132, 255);
    box-shadow: 0px 0px 1px 2px rgb(213, 238, 255);
    margin-right: 20px; 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 136, 255);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
}

.mreview:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 162, 255);
    background-color: rgb(0, 162, 255);
    color: rgb(255, 255, 255);
}


.next{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid rgb(45, 146, 141);
    margin-right: 20px; 
    background-color: rgb(45, 146, 141);
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 16px;
}

.next:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 3px rgb(208, 255, 255);
}

